{% extends "base.html" %}
{% block title %}Pacifc Store {% endblock %}
{% block content %}


  <div class="d-flex justify-content-center align-items-center" >
    <form action="{% url 'store:store_home' %}" method="GET" class="d-flex">
      <input class="form-control me-2" width='500px' type="text" name="q" placeholder="Search product" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
  </div>
  <div class="container" >
    <div class="row" >
      <div class="album py-6" >
        <div class="pb-3">
          <h1 class="h">Popular</h1>
        </div>
        {% if not products %}
        <div class="col-12">There are currently no products active</div>
        {% else %}
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-7 g-3" >
          {% for product in products %}
          <div class="col" id="main1"  >
            <div class="card border-0" >
              <a href= "{{ product.get_absolute_url}}">
              {% for image in product.product_image.all %}
              {% if image.is_feature%}
              <img  class="img-fluid" alt="Responsive image" src="{{ image.image.url }}" 
                alt="{{ image.image.alt_text }}"></a>
                
              {% endif %}
              {% endfor %}
              <div class="lay card-body px-0 id" id="mymain">
                <p class="card-text">
                  <a class="text-label text-decoration-none fw-bold"
                    href="{{ product.get_absolute_url }}">{{ product.title|slice:15 }}... 
                    <br>
                    {{product.regular_price}} birr...</a>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% endblock %}